
$maple: #ac7147;
$brown: #6C4B34;
$babyblue: #ACDADD;
$cream: #f0d4af;
$grey: #4b4339;

$coffee: #C5A680;
$gold: #AC8759;
$mahogany: #BF675A;
// $: #e3ae69;


$theme-colors: (
	"primary": $maple,
	"secondary": $brown,
	"success": $babyblue,
	"light": $cream,
	"dark": $grey,
);

$white: $cream;
$black: $grey;

$body-color: $cream;
$body-bg: $grey;

// $link-hover-decoration: none;
// $hr-border-color: #000;

@import "./App.css";
@import "~bootstrap/scss/bootstrap";

